# DataFrames

## Overview

In [3]:
import pandas as pd
dic = { "name": ["Livio", "Marco", "Lorenzo"],
       "children": [0, 1, 2]}
df = pd.DataFrame(dic)
df

      name  children
0    Livio         0
1    Marco         1
2  Lorenzo         2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
name        3 non-null object
children    3 non-null int64
dtypes: int64(1), object(1)
memory usage: 128.0+ bytes

In [5]:
df.columns

Index(['name', 'children'], dtype='object')

## Estrazione Colonne

In [7]:
df.name

0      Livio
1      Marco
2    Lorenzo
Name: name, dtype: object

In [8]:
df["children"]

0    0
1    1
2    2
Name: children, dtype: int64

In [9]:
df.describe()

       children
count       3.0
mean        1.0
std         1.0
min         0.0
25%         0.5
50%         1.0
75%         1.5
max         2.0

In [12]:
import pandas as pd
dic = { "name": ["Livio", "Marco", "Lorenzo"],
       "children": [0, 1, 2],
        "free_time" : [1000, 100, 10]}
df = pd.DataFrame(dic)
df.describe()

       children    free_time
count       3.0     3.000000
mean        1.0   370.000000
std         1.0   547.448628
min         0.0    10.000000
25%         0.5    55.000000
50%         1.0   100.000000
75%         1.5   550.000000
max         2.0  1000.000000