In [3]:
[x + "_reg" for x in ["a", "B"] ]

['a_reg', 'B_reg']

# DimProvince

In [2]:
# %load CarburanteUtility.py
import pandas as pd
def cu_readCsv(path, headerRow=0):
    if(headerRow == 0):
        return pd.read_csv(path, sep=";", keep_default_na=False, na_values=[''])
    return pd.read_csv(path, sep=";", keep_default_na=False, na_values=[''], header=headerRow);

In [42]:
#Lettura csv Regioni e Province
import pandas as pd
province = cu_readCsv("dati_carburante/Province.csv")
province.columns = ["Prov_" + x for x in province.columns]

regioni = cu_readCsv("dati_carburante/Regioni.csv");
regioni.columns = ["Reg_" + x for x in regioni.columns]

In [43]:
#Creazione csv DimProvince
import numpy as np
fullProvinces = province.merge(regioni, left_on=['Prov_CodiceIstatRegione'], right_on=['Reg_CodiceIstat'], how='left')
del fullProvinces['Prov_CodiceIstatCM']
del fullProvinces['Prov_CM']
del fullProvinces['Prov_CodiceIstatRegione']
del fullProvinces['Reg_Costiera']
fullProvinces = fullProvinces.rename({'Reg_Abbreviato': 'Reg_Short'})

fullProvinces.to_csv("./out/DimProvince.csv", sep=';', index=False)
#fullProvinces

In [3]:
import pandas as pd
df1 = cu_readCsv("dati_carburante/anagrafica_impianti_attivi-20170101.csv", headerRow=1);
print ("pompe1: " , df1.shape[0], df1.columns)
df2 = cu_readCsv("dati_carburante/anagrafica_impianti_attivi-20180630.csv", headerRow=1);
print ("pompe2: " ,  df2.shape[0] , df2.columns)
df2.columns
prezzi1 = cu_readCsv("dati_carburante/prezzo_alle_8-20170101.csv", headerRow=1);
print ("prezzi1: " , prezzi1.shape[0], prezzi1.columns)

pompe1:  20410 Index(['idImpianto', 'Gestore', 'Bandiera', 'Tipo Impianto', 'Nome Impianto',
       'Indirizzo', 'Comune', 'Provincia', 'Latitudine', 'Longitudine'],
      dtype='object')
pompe2:  21298 Index(['idImpianto', 'Gestore', 'Bandiera', 'Tipo Impianto', 'Nome Impianto',
       'Indirizzo', 'Comune', 'Provincia', 'Latitudine', 'Longitudine'],
      dtype='object')
prezzi1:  82577 Index(['idImpianto', 'descCarburante', 'prezzo', 'isSelf', 'dtComu'], dtype='object')

# Esperimenti

In [4]:
orig = df1
print(orig.shape)
dfg = orig.groupby(['Latitudine', 'Longitudine']).size().reset_index(name='counts')
dups = dfg[dfg['counts']  > 1]

part = dups.iloc[0:5, :].merge(orig, on= ['Latitudine', 'Longitudine'], suffixes=('_1', '_2'), how='inner')
cols = [x for x in prezzi1.columns]
cols.append('Bandiera')
cols.append('Latitudine')

part.merge(prezzi1, on= ['idImpianto'], suffixes=('_1', '_2'), how='inner')[cols]
#37.314926
#df1[ str(df1['Latitudine'] == '37.314926' ]

(20410, 10)

,idImpianto,descCarburante,prezzo,isSelf,dtComu,Bandiera,Latitudine
0,25651,Benzina,1.549,1,29/12/2016 16:46:18,Esso,37.695571
1,25651,Gasolio,1.419,1,29/12/2016 16:46:18,Esso,37.695571
2,25652,GPL,0.609,0,28/12/2016 17:15:29,SP Energia Siciliana,37.695571
3,35324,Benzina,1.609,0,09/09/2016 07:08:07,Pompe Bianche,38.028241
4,35324,Benzina,1.409,1,09/09/2016 07:08:07,Pompe Bianche,38.028241
5,35324,Gasolio,1.455,0,09/09/2016 07:08:07,Pompe Bianche,38.028241
6,35324,Gasolio,1.247,1,09/09/2016 07:08:07,Pompe Bianche,38.028241
7,34569,Benzina,1.709,0,31/12/2016 07:29:34,FGS,38.028241
8,34569,Benzina,1.499,1,31/12/2016 07:29:34,FGS,38.028241
9,34569,Gasolio,1.579,0,31/12/2016 07:29:34,FGS,38.028241
10,34569,Gasolio,1.369,1,31/12/2016 07:29:34,FGS,38.028241
11,19269,Benzina,1.352,0,16/02/2016 15:32:48,Q8,38.087732
12,19269,Gasolio,1.115,0,16/02/2016 15:32:48,Q8,38.087732
13,34522,Benzina,1.588,0,09/09/2016 18:15:34,Q8,38.087732
14,34522,Benzina,1.438,1,09/09/2016 18:15:34,Q8,38.087732
15,34522,Gasolio,1.478,0,09/09/2016 18:15:34,Q8,38.087732
16,34522,Gasolio,1.268,1,09/09/2016 18:15:34,Q8,38.087732
17,22879,Benzina,1.578,0,29/12/2016 08:05:53,Agip Eni,38.141201
18,22879,Benzina,1.578,1,29/12/2016 08:05:53,Agip Eni,38.141201
19,22879,Gasolio,1.449,0,29/12/2016 08:05:53,Agip Eni,38.141201
20,22879,Gasolio,1.449,1,29/12/2016 08:05:53,Agip Eni,38.141201
21,22878,Benzina,1.598,0,29/12/2016 08:06:48,SP Energia Siciliana,38.141201
22,3993,Benzina,1.790,0,24/12/2016 12:34:48,Esso,38.439528
23,3993,Benzina,1.610,1,24/12/2016 12:34:48,Esso,38.439528
24,3993,Gasolio,1.589,0,24/12/2016 12:34:48,Esso,38.439528
25,3993,Gasolio,1.409,1,24/12/2016 12:34:48,Esso,38.439528
26,3993,Gasolio Premium,1.709,0,24/12/2016 12:34:48,Esso,38.439528
27,3993,Gasolio Premium,1.529,1,24/12/2016 12:34:48,Esso,38.439528
28,3994,Gasolio,1.409,1,24/12/2016 12:35:08,Esso,38.439528

In [67]:
merged = df1.merge(df2, on= ['idImpianto', 'Gestore'], suffixes=('_1', '_2'), how='outer' )
merged[ merged['Bandiera_1'] != merged['Bandiera_2']]


mc = df1.merge(df2, on= ['Latitudine', 'Longitudine'], suffixes=('_1', '_2'), how='inner' )
mc.iloc[8692]

idImpianto_1                                    16789
Gestore_1                   TRE PONTI FOOD OIL S.R.L.
Bandiera_1                                     Api-Ip
Tipo Impianto_1                                 Altro
Nome Impianto_1                               Acerra
Indirizzo_1         S.S.7 BIS - KM. 31,482 S.C. 80011
Comune_1                                       ACERRA
Provincia_1                                       NaN
Latitudine                                    40.9623
Longitudine                                   14.4282
idImpianto_2                                    16789
Gestore_2                   TRE PONTI FOOD OIL S.R.L.
Bandiera_2                                     Api-Ip
Tipo Impianto_2                                 Altro
Nome Impianto_2                               Acerra
Indirizzo_2         S.S.7 BIS - KM. 31,482 S.C. 80011
Comune_2                                       ACERRA
Provincia_2                                       NaN
Name: 8692, dtype: object

In [65]:

mc.loc[(mc['Provincia_1'] != mc['Provincia_2']), ['Provincia_1', 'Provincia_2']]

     Provincia_1 Provincia_2
8692         NaN         NaN
8693         NaN         NaN
8694         NaN         NaN
8695         NaN         NaN
8696         NaN         NaN
8697         NaN         NaN
8698         NaN         NaN
8699         NaN         NaN
8700         NaN         NaN
8701         NaN         NaN
8702         NaN         NaN
8703         NaN         NaN
8704         NaN         NaN
8705         NaN         NaN
8706         NaN         NaN
8707         NaN         NaN
8708         NaN         NaN
8709         NaN         NaN
8710         NaN         NaN
8711         NaN         NaN
8712         NaN         NaN
8713         NaN         NaN
8714         NaN         NaN
8715         NaN         NaN
8716         NaN         NaN
8717         NaN         NaN
8718         NaN         NaN
8719         NaN         NaN
8720         NaN         NaN
8721         NaN         NaN
...          ...         ...
9177         NaN         NaN
9178         NaN         NaN
9179         NaN         NaN
9180         NaN         NaN
9181         NaN         NaN
9182         NaN         NaN
9183         NaN         NaN
9184         NaN         NaN
9185         NaN         NaN
9186         NaN         NaN
9187         NaN         NaN
9188         NaN         NaN
9189         NaN         NaN
9190         NaN         NaN
9191         NaN         NaN
9192         NaN         NaN
9193         NaN         NaN
9194         NaN         NaN
9195         NaN         NaN
9196         NaN         NaN
9197         NaN         NaN
9198         NaN         NaN
9199         NaN         NaN
9200         NaN         NaN
9201         NaN         NaN
9202         NaN         NaN
9203         NaN         NaN
9204         NaN         NaN
9205         NaN         NaN
9206         NaN         NaN

[515 rows x 2 columns]