In [17]:
import pandas as pd
df = pd.read_csv('./course_resources/LML_Extended.csv', parse_dates=['birthdate'])
df

      name  children  birthdate
0    livio         0 1981-09-10
1    marco         1 1981-10-16
2  lorenzo         2 1981-12-12

In [2]:
import pandas as pd
import dateutil.parser as parser #converter

df = pd.read_csv('./course_resources/LML_Extended.csv', 
                 converters={'birthdate': parser.parse})
df.dtypes

name                 object
children              int64
birthdate    datetime64[ns]
dtype: object

In [18]:
dates = ['2010-09-10', '10-09-1981', 'my date']
dtindex = pd.to_datetime(dates, errors='coerce')
dtindex

DatetimeIndex(['2010-09-10', '1981-10-09', 'NaT'], dtype='datetime64[ns]', freq=None)

In [29]:
ser = pd.Series(dtindex)
#accedo alle propriet√† del tipo datetime
ser.dt.year

0    2010.0
1    1981.0
2       NaN
dtype: float64

# Windows Functions

In [7]:
import pandas as pd
idx = pd.date_range('2018/01', periods= 32, freq='d')
idx

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
               '2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
               '2018-01-21', '2018-01-22', '2018-01-23', '2018-01-24',
               '2018-01-25', '2018-01-26', '2018-01-27', '2018-01-28',
               '2018-01-29', '2018-01-30', '2018-01-31', '2018-02-01'],
              dtype='datetime64[ns]', freq='D')

In [19]:
# crea serie con indice data e valore nome del giorno corrispondente
ser = pd.Series(idx.day_name(), index=idx)
ser.head(10)

2018-01-01       Monday
2018-01-02      Tuesday
2018-01-03    Wednesday
2018-01-04     Thursday
2018-01-05       Friday
2018-01-06     Saturday
2018-01-07       Sunday
2018-01-08       Monday
2018-01-09      Tuesday
2018-01-10    Wednesday
Freq: D, dtype: object

In [54]:
#generazione dei primi gg di ogni mese 
idx = pd.date_range('2018/01', periods= 12, freq='MS')

#lista di valori generata con 4 interi ripetuti
ser = pd.Series([0,100,1000,10000] * 3, index=idx)
ser

2018-01-01        0
2018-02-01      100
2018-03-01     1000
2018-04-01    10000
2018-05-01        0
2018-06-01      100
2018-07-01     1000
2018-08-01    10000
2018-09-01        0
2018-10-01      100
2018-11-01     1000
2018-12-01    10000
Freq: MS, dtype: int64

In [55]:
#somma mensile: totalizza sul fine mese
serM = ser.resample('M').sum()
serM

2018-01-31        0
2018-02-28      100
2018-03-31     1000
2018-04-30    10000
2018-05-31        0
2018-06-30      100
2018-07-31     1000
2018-08-31    10000
2018-09-30        0
2018-10-31      100
2018-11-30     1000
2018-12-31    10000
Freq: M, dtype: int64

In [56]:
#sum quarterly
serM.resample('Q').sum()

2018-03-31     1100
2018-06-30    10100
2018-09-30    11000
2018-12-31    11100
Freq: Q-DEC, dtype: int64

   num  sum2
0    1   NaN
1    3   4.0
2    5   8.0
3    7  12.0