In [17]:
import pandas as pd
df = pd.read_csv('./course_resources/LML_Extended.csv', parse_dates=['birthdate'])
df

      name  children  birthdate
0    livio         0 1981-09-10
1    marco         1 1981-10-16
2  lorenzo         2 1981-12-12

In [1]:
import pandas as pd
#from pandas_datareader import data as DataReader
import dateutil.parser as parser #converter

df = pd.read_csv('./course_resources/LML_Extended.csv', 
                 converters={'birthdate': parser.parse})
df.dtypes

name                 object
children              int64
birthdate    datetime64[ns]
dtype: object

In [18]:
dates = ['2010-09-10', '10-09-1981', 'my date']
dtindex = pd.to_datetime(dates, errors='coerce')
dtindex

DatetimeIndex(['2010-09-10', '1981-10-09', 'NaT'], dtype='datetime64[ns]', freq=None)

In [29]:
ser = pd.Series(dtindex)
#accedo alle propriet√† del tipo datetime
ser.dt.year

0    2010.0
1    1981.0
2       NaN
dtype: float64